<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/ProductDetail.css")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Catalog Of Products", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("View Products", "ViewProducts", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add Product", "AddProduct", "Home")</li>
                        <li>@Html.ActionLink("Add Category", "AddCategories", "Home")</li>
                    }
                    <li>@Html.ActionLink("Compare List", "ShowCompareList", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @helper GetTreeMenus(IEnumerable<CatalogOfProducts2.Models.MenuHandler> siteMenu, Nullable<int> parentID)
    {
        foreach (var i in siteMenu.Where(a => a.ParentId.Equals(parentID)))
        {
            var submenu = siteMenu.Where(a => a.ParentId.Equals(i.MenuId)).Count();

            string action = i.ActionName;
            string controller = i.ControllerName;
            
            
                <ul id="myUL">
                    <li class="treeview">
                        <span class="tree">
                            <a href="/@i.ControllerName/@i.ActionName">
                                @i.MenuText
                            </a>
                        </span>
                        <ul class="nested">
                            @GetTreeMenus(siteMenu, i.MenuId)
                        </ul>
                    </li>
                </ul>  
            

        }
    }

<div class="container body-content">
    @*{
        if (Session["MenuList"] != null)
        {
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="nav nav-sidebar">

                    @GetTreeMenus(Session["MenuList"] as IEnumerable<CatalogOfProducts2.Models.MenuHandler>, 0)

                </div>


            </div>
        }
    }*@
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-content">

        @RenderBody()

    </div>
    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moje aplikace ASP.NET</p>
        </footer>*@
</div>

            <script>
                var toggler = document.getElementsByClassName("tree");
                var i;

                for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function () {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("tree-down");
                    });
                }
            </script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>
        </html>
