@model CatalogOfProducts2.Models.ProductModel

@{
    ViewBag.Title = "ProductDetails";
}

<div class="header">
    <h2>@Model.ProductName</h2>  
</div>

<div>
    <hr />

    <div class="col-lg-1">
        

            <a href="@Url.Content("~/Images/"+Model.ImagePath)">
                <img src="@Url.Content("~/Images/"+Model.ImagePath)" height="200" width="200" />
            </a>
        
    </div>
    
    <div class="row">
           
            
        <dl class="dl-vertical">

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductPrice) Kč
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UrlLink)
            </dt>

            <dd>                
                <a href=@Model.UrlLink> @Model.UrlLink</a>
            </dd>


        </dl>
    </div>
</div>


<div class="footer">
    <p>
        @Html.ActionLink("Show List", "ViewProducts")
    </p>

    <p>
        @Html.ActionLink("Add To Compare", "AddToCompareList", new { id = Model.ProductId },new { onclick = "return myFunction();"})
    </p>

    <script>
        function myFunction() {
            alert("@Model.ProductName added to compare list.");
        }
    </script>
</div>

