@model IEnumerable<CatalogOfProducts2.Models.ProductModel>

@{
    ViewBag.Title = "View Products";
}

<h2>List of Products</h2>



@using (Html.BeginForm())
{
<p>
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>

        </th>
        <th>           
            @Html.ActionLink("Name", "ViewProducts", new { sortOrder = ViewBag.ProductName },new { style = "color:Black;"})
        </th>
        
        <th>
            @Html.ActionLink("Category", "ViewProducts", new { sortOrder = ViewBag.Category },new { style = "color:Black;"})
        </th>
        <th>
            @Html.ActionLink("Price", "ViewProducts", new { sortOrder = ViewBag.Price }, new { style = "color:Black;" })
        </th>
        <th></th><th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <a href="@Url.Content("~/Images/"+item.ImagePath)" >
                    <img src="@Url.Content("~/Images/"+item.ImagePath)" height="42" width="42" />
                </a>
                
            </td>
            <td>
                @Html.ActionLink(item.ProductName,"ProductDetails","Home",new {id = item.ProductId },new { style = "color:Black;"})
            </td>
              
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice) Kč
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            }
        </tr>
    }

</table>
